body {
  background: #222;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.board{
  display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
  padding: 34px 0px 34px 56px;
}

.list{
  background: #F3F7F0;
  border: solid #888 1px;
  border-radius: 3px;
  box-sizing: border-box;
  color: #656839;
  display: flex;
    flex-flow: column nowrap;
  height: 100%;
  margin: 1em;
  padding: 1em;
}

.list > .list-label{
  border-bottom: solid #D1D1D1 1px;
  box-sizing: border-box;
  padding: 1.69em 0.5em 1.5em;
}

.list > .list-cards{
  display: flex;
    flex-flow: row wrap;
  width: 264px;
}

.card{
  background: #F2545B;
  box-sizing: border-box;
  color: #F3F7F0;
  height: 50px;
  margin: 0.5em;
  padding: 1em;
  text-align: center;
  width: 50px;
}

.low-opacity{
  opacity: 0.25;
}
