body {
  background: #222;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.board{
  display: flex;
  padding: 50px;
  width: 100%;
}

.list{
  border: solid #fff 6px;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
  height: 468px;
  margin: 10px;
  padding: 4% 3%;
  width: 300px;
}

.decor-opacity{
  opacity: 0.25;
}

.card{
  background: #d3b6b6;
  border-radius: 10px;
  color: #000;
  height: 50px;
  margin: 1em;
  padding: 4% 3%;
  width: 100%;
}
